*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    letter-spacing: -0.5px;
    font-family: Arial, Helvetica, sans-serif;
}

.main-container{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 4rem;
    /* margin: 4rem auto; */
    /* background-color: antiquewhite; */
    padding: 1rem 4rem;
    background-color: rgb(225, 233, 236);
}

.description-container{
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 1rem;
    align-content: center;

}

.top-name-container{
    width: fit-content;
    height: auto;
    padding: 1rem;
    text-align: center;
}

.top-name-container p{
    color: blueviolet;
    font-size: 3rem;
    font-weight: 600;
}

.description-name-container{
    width: fit-content;
    height: auto;
    padding: 0 2rem;
    text-align: center;
}

.description-name-container h1{
    color: #002222;
    font-size: 2rem;
}

.color-container{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 3rem;
    /* padding: 4rem; */
    /* background-color: #d8d8d8 */
}

.actions-container{
    width: fit-content;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: center;
    column-gap: 3rem;
}

.generate-button-container{
    padding: 0.7rem 1rem;
    outline: none;
    border: none;
    border-radius: 0.4rem;
    cursor: pointer;
    color: beige;
    font-size: 1rem;
    font-weight: 600;
    background-color: #176767;
}

.generate-button-container:hover{
    background-color: #115757;
}

/* Clear button */
.clear-button-container{
    padding: 0.7rem 1rem;
    outline: none;
    border: none;
    border-radius: 0.4rem;
    color: #1a1a1a;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    background-color: #bdb2b2;
    transition: 0.3s;
}

.clear-button-container:hover{
    background-color: #d8d8d8;
}

.generated-colors-container{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: start;
    /* background-color: #f8f8f8; */
    column-gap: 1rem;
    /* padding: 1rem 2rem; */
}

.first-color-container{
    padding: 1rem 2rem;
    background-color: #F4F4F4;
    width: 100%;
    height: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    /* box-shadow: 0px 8px 20px rgba(44, 40, 40, 0.15); */


}

.second-color-container{
    padding: 1rem 2rem;
    background-color: #F4F4F4;
    width: 100%;
    height: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.5s;

}

.third-color-container{
    padding: 1rem 2rem;
    background-color: #F4F4F4;
    width: 100%;
    height: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}

.fourth-color-container{
    padding: 1rem 2rem;
    background-color:#F4F4F4;
    width: 100%;
    height: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}

.color-name{
    width: fit-content;
    height: auto;
    padding: 0.5rem 0.7rem;
    background-color: rgba(240, 255, 255, 0.24);
    border-radius: 0.4rem;
    font-size: 1.1rem;
    font-weight: 400;
    color: #111827;
    cursor: pointer;
}
