*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    letter-spacing: -0.5px;
    font-family: Arial, Helvetica, sans-serif;
}

.main-container{
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 4rem;
    padding: 3rem 4rem 6rem 4rem;
    background-color: rgb(225, 233, 236);
}

.content-container{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 2rem;
    align-content: center;

}


.title-container{
    width: fit-content;
    height: auto;
    text-align: center;
    background-color: #8cd1d1;
    border-radius: 1rem;
}

.title-container h2{
    color: #115757;
    font-size: 2rem;
    font-weight: 400;
    padding: 1rem 2rem;
    
}

.description-container{
    width: fit-content;
    height: auto;
    /* padding: 0 2rem; */
    text-align: center;
}

.description-container h1{
    color: #053535;
    font-size: 1.5rem;
    font-weight: 400;
}

.color-container{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* row-gap: 3rem; */
    /* padding: 4rem; */
    /* background-color: #d8d8d8 */
}

.actions-container{
    width: fit-content;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    column-gap: 3rem;
  
}

.generate-button-container{
    padding: 0.7rem 1rem;
    outline: none;
    border: none;
    border-radius: 0.4rem;
    cursor: pointer;
    color: rgb(234, 234, 228);
    font-size: 1rem;
    font-weight: 600;
    background-color: #176767;
}

.generate-button-container:hover{
    background-color: #115757;
}

/* Clear button */
.clear-button-container{
    padding: 0.7rem 1rem;
    outline: none;
    border: none;
    border-radius: 0.4rem;
    color: #1a1a1a;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    /* background-color: #bdb2b2; */
    transition: 0.3s;
    border: 1px solid #115757;
}

.clear-button-container:hover{
    background-color: #d8d8d8;
}

.generated-colors-container{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: stretch;
    /* background-color: #f8f8f8; */
    column-gap: 1rem;
    row-gap: 1rem;
    /* margin-bottom: 2rem; */
    flex-wrap: wrap;
    margin-top: 3rem;
}

.sub-description-container{
    width: fit-content;
    height: auto;
    margin-top: 1.5rem;
}

.sub-description-container p{
    color: #838997;
}


.first-color-container{
    padding: 4rem 2rem;
    background-color: #F4F4F4;
    width: 23%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    border-radius: 1rem 0 0 1rem;
    /* box-shadow: 0px 8px 20px rgba(44, 40, 40, 0.15); */


}

.second-color-container{
    padding: 4rem 2rem;
    background-color: #F4F4F4;
    width: 23%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.5s;

}

.third-color-container{
    padding: 4rem 2rem;
    background-color: #F4F4F4;
    width: 23%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}

.fourth-color-container{
    padding: 4rem 2rem;
    background-color:#F4F4F4;
    width: 23%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    border-radius: 0 1rem 1rem 0;

}

.color-name{
    width: fit-content;
    height: auto;
    padding: 0.5rem 0.7rem;
    background-color: rgba(240, 255, 255, 0.24);
    border-radius: 0.4rem;
    font-size: 1.1rem;
    font-weight: 400;
    color: #111827;
    cursor: pointer;
}

@media screen and (max-width:720px) {
    .actions-container{
        width: fit-content;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        column-gap: 2rem;
        row-gap: 2rem;
    }

    .title-container h2{
        color: #115757;
        font-size: 1.5rem;
        font-weight: 300;
        padding: 1rem 2rem;
        
    }

    .first-color-container{
        padding: 2rem 2rem;
        background-color: #F4F4F4;
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: 0.5s;
        border-radius: 1rem;
        /* box-shadow: 0px 8px 20px rgba(44, 40, 40, 0.15); */
    }

    .second-color-container{
        padding: 2rem 2rem;
        background-color: #F4F4F4;
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: 0.5s;
        border-radius: 1rem;
    
    }
    
    .third-color-container{
        padding: 2rem 2rem;
        background-color: #F4F4F4;
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: 0.5s;
        border-radius: 1rem;
    }
    
    .fourth-color-container{
        padding: 2rem 2rem;
        background-color:#F4F4F4;
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: 0.5s;
        border-radius: 1rem
    
    }

    .main-container{
        height: auto;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        row-gap: 2rem;
        padding: 2rem 1.5rem 3rem 1.5rem;
        background-color: rgb(225, 233, 236);
    }

    .description-container{
        width: fit-content;
        height: auto;
        /* padding: 0 2rem; */
        text-align: center;
    }

    .generate-button-container{
        padding: 0.7rem 1rem;
        outline: none;
        border: none;
        border-radius: 0.4rem;
        cursor: pointer;
        color: beige;
        font-size: 1.1rem;
        font-weight: 600;
        background-color: #176767;
    }
}